/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  font-family: var(--Inter), sans-serif;
  font-variation-settings: 'wght' var(--main-text-weight);
  background-image: var(--bg-image);
  background-color: #E7E7E7;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-inline: var(--header-padding-inline);
  padding-block: var(--header-padding-block);
  margin: 102px 2px;
  border: 2px solid #000;
  gap: 20px;
}

.inline-size {
  inline-size: var(--inline-size);
}

.main__title {
  font-family: var(--PressStart2P), fantasy;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 52px;
}

.section__card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  padding: 4px 10px 6px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-weight);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  line-height: 21px;
  font-size: 18px;
}

.img__wrapper {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: var(--inline-size);
  /*block-size: 375px;*/
  object-position: center;
  aspect-ratio: 1/1;
}

.card__image-contrast {
  filter: contrast(120%) grayscale(50%) saturate(130%);
}

.card__image-saturate {
  filter: saturate(150%) blur(1px) sepia(40%)
}

.card__image-hue-rotate {
  filter: saturate(80%) hue-rotate(30deg);
}

.card__image-grayscale {
  filter: grayscale(70%) saturate(80%) blur(3px);
}

.card__image-invert {
  filter: invert(20%) contrast(120%);
}

.card__image-blur {
  filter: blur(3px);
}

.card__image-brightness {
  filter: brightness(70%);
}

.card__label {
  position: absolute;
  font-family: var(--PressStart2P), fantasy;
  font-size: 14px;
  color: #000;
  top: 25px;
  right: 13px;
  opacity: 0.5;
  text-shadow: 1px 0 var(--text-shadow), 
  0 1px var(--text-shadow), 
  -1px 0 var(--text-shadow), 
  0 -1px var(--text-shadow);
  mix-blend-mode: hard-light;
}

.card__like-area {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  display: flex;
  align-self: center;
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: #000;
}

.like-icon {
  display: block;
  block-size: 34px;
}

.page_button-style {
  font-family: var(--PressStart2P), fantasy;
  background: transparent;
  
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.page_button-style::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.page_button-style:hover::before {
  background-color: #000;
  transform: scaleX(1);
}

.page_button-style:focus {
  box-shadow: 2px 2px var(--main-text-color);
  outline: none;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__like-button {
  padding: 12.5px 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 130px;
  max-block-size: 38px;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 34.5px 100px;
}

.card__save-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 15px 20px;
  background-color: #fff;
}

.floppy__icon {
  mix-blend-mode: difference;
  inline-size: 29px;
  block-size: 29px;
}

.dialog__popup[open] {
 display: flex;
 flex-direction: column;
 gap: 30px;
 padding: 30px;
 transition: 0.5s ease-in-out;
 max-inline-size: 341px;
}

.dialog__popup .floppy__icon {
  color: #fff;
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__popup .button__text {
  text-transform: uppercase;
}

.dialog__text {
  font-family: var(--PressStart2P), fantasy;
  text-transform: uppercase;
  line-height: 150%;
  font-size: 14px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / .75);
}

@media (width <= 375px) {
  .header {
    padding-inline: clamp(3.063rem, 1.429vw + 2.777rem, 4.063rem);
    font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  }
}

@media (width >= 768px) {
  .card__save-button {
    flex-direction: row;
  }

  .floppy__icon {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog__popup[open] {
    max-inline-size: 353px;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: 'Inter-Variable', sans-serif;
    font-variation-settings: 'wght' var(--main-text-weight);
  }
  .card__title {
    font-variation-settings: 'wght' var(--title-weight);
  }
} 

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
    text-shadow: none;
  }
} 